<ion-header color="primary">
  <ion-toolbar>
    <div class="rainbow-text flex-header" style="text-align: center;">
      <span class="block-line"><span><span style="color:#FFFFFF;">W</span><span style="color:#FFFFFF;">e</span><span style="color:#FFB300;">C</span><span style="color:#FFB300;">o</span><span style="color:#FFB300;">u</span><span style="color:#ffb300;">n</span><span style="color:#ffb300;">t</span></span></span>
      <ion-fab-button class="info-button"><ion-icon name="information-circle-outline"></ion-icon></ion-fab-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-align-items-center centered" color="secondary">
  <ion-grid>
    <ion-row>
      <ion-col><image src=""></image> Champion</ion-col>
      <ion-toggle>Boots</ion-toggle>
      <ion-button>S1</ion-button>
      <ion-button>S2</ion-button><img src="">
    </ion-row>
    <ion-row>
      <ion-col>Champion</ion-col>
      <ion-toggle>Boots</ion-toggle>
      <ion-button>S1</ion-button>
      <ion-button>S2</ion-button>
    </ion-row>
    <ion-row>
      <ion-col>Champion</ion-col>
      <ion-toggle>Boots</ion-toggle>
      <ion-button>S1</ion-button>
      <ion-button>S2</ion-button>
    </ion-row>
    <ion-row>
      <ion-col>Champion</ion-col>
      <ion-toggle>Boots</ion-toggle>
      <ion-button>S1</ion-button>
      <ion-button>S2</ion-button>
    </ion-row>
    <ion-row>
      <ion-col>Champion</ion-col>
      <ion-toggle>Boots</ion-toggle>
      <ion-button>S1</ion-button>
      <ion-button>S2</ion-button>
    </ion-row>

  </ion-grid>
</ion-content>
