<ion-header color="primary">
  <ion-toolbar>
    <ion-title class="ion-text-center" color="light">WeCount</ion-title>
    <ion-icon class="ion-float-left" name="information-circle-outline"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-align-items-center" color="secondary">
    <ion-button style="
                borderRadius: 0px;
                width: 200px;
                height: 200px;
                font-size: x-large;
                line-break: loose"
                color="primary"
                (click)="goToMatch()">
      Search<br>Match
    </ion-button>
</ion-content>
