ion-title, ion-label {
  margin-top: 16px;
  text-align: center;
  font-family: Poppins !important;
  font-weight: bold;
  font-size: 5vh;
}

ion-content {
  text-align: center;
  font-family: Poppins !important;
  display: flex;
  align-items: center;
}

input {
  text-align: center;
}

ion-button {
  font-family: Poppins !important;
  font-weight: bold;
}

.centered {
  display: flex;
  place-items: center;
  place-content: center;
}

.select{
  text-align: center;
}

