<ion-header color="primary">
  <ion-toolbar>
    <div class="rainbow-text" style="text-align: center;">
      <span class="block-line"><span><span style="color:#FFFFFF;">W</span><span style="color:#FFFFFF;">e</span><span style="color:#FFB300;">C</span><span style="color:#FFB300;">o</span><span style="color:#FFB300;">u</span><span style="color:#ffb300;">n</span><span style="color:#ffb300;">t</span></span></span>
    </div>
    <ion-icon class="ion-float-left" name="information-circle-outline"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
